.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    margin-right: 0.5em;
}

#logoAP{
    width: 150px;
}

#logoAP:hover{
    transform: scale(1.15);
}

img{
    width: 45px;
    padding: 5px;
}

.btn{
    border-width: medium;
}

@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#facebook:hover{
    transform: scale(1.15);
}
#github:hover{
    transform: scale(1.15);
}
#instagram:hover{
    transform: scale(1.15);
}
#linkedin:hover{
    transform: scale(1.15);
}