<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/federico-sebastian-damiano-7a64881b6/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://m.facebook.com/fede.damiano.3?eav=AfYbgG1ujZeRY5KNO9OLNMKbyWX5ILBwc7yJHf9jUl0wqfERcCEuKTiHZW40fhorpbE&paipv=0" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href="https://www.instagram.com/fededamiano1/?igshid=N2ZiY2E3YmU%3D" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/FedeDamiano21" target="_blank"><img src="../../../assets/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-light">LOGIN</button>
        </div>
    </div>
</div>

