<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nomtitulo">
        <p id="nombre">Federico Damiano</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias accusamus delectus aut corrupti consectetur sequi. Quas necessitatibus velit quod architecto similique cum? Cumque porro modi alias quibusdam itaque voluptatem atque!</p>

        </span>
    </div>
</div>

