<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nomtitulo">
        <p id="nombre">Federico Damiano</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Estudiante de Ingenieria en sistemas de la información en Universidad Tecnologica Nacional (UTN) y full stack Developer con conocimientos en HTML, CSS, JavaScript, Python </p>
        </span>
    </div>
</div>

