<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                
                <h1>Universidad Tecnologica Nacional</h1> - <h3>(años)</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio aliquam eos culpa, voluptatem praesentium est possimus blanditiis nemo qui modi iure molestias dolore consequatur harum? Laudantium aliquid praesentium natus ex!</p>
            </li>
            <li>
                
                <h1>Ipem °38 Francisco Pablo de Mauro</h1> - <h3>(años)</h3>
                <p>Bachiller en Ciencias Naturales</p>
            </li>
        </ul>
    </div>
</div>
