<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreExp">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <button class="btn btn-primary" >
                    Agregar educacion
                </button>
            </form>
        </div>
    </div>
</div>
