.row{
    padding: 20px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    color: #000;
}

.contenedor{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}


.img-proyecto{
    box-shadow: 10px 10px 30px #000;
}

.img-proyecto:hover{
    transform: scale(1.15);
}